#searchform fieldset {
  z-index: 20;
}

#searchInput {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height:32px;
  border: 1px solid rgba(255,255,255,0.8) !important;
}
#searchInput.selected {
  box-shadow: inset 0 1px 3px rgba(0,0,0,0.4);
  background-color: #ddd;
  border:1px solid rgba(50,50,50,0.5) !important;
}

div#body {
  padding-bottom:32px;
}

.suggestions {
  opacity: 0;
  transition: opacity .3s ease-out, width .3s ease-out;
  width: 180px;
  position: absolute;
  visibility: hidden;
  right: 0;top: 31px;
  z-index: 10;
  background-color: rgba(50,50,50,0.7);
  margin: 0;padding: 0;
  list-style: none;
  color: white;
  border-radius: 2px;
}

.suggestions.focus {
  width: 320px;
}

.suggestions.visible {
  opacity: 1;
  visibility: visible;
}

.suggestions li {
  padding: 8px 14px;
  cursor: pointer;
  border-radius: 2px;
  overflow: hidden;
}
.suggestions li.selected {
  background-color: rgba(20,20,20,.5);
}
.suggestions h4, .suggestions p {
  margin: 0;padding: 0;
  line-height: 1.4em;
}




.open-closed-indicator {
  font-size: 12px;
  display: inline-block;
  color: #fff;
  text-indent: 0;
  color: #666;
  font-family: delta-expertise;
}

.search-context-title {
  cursor:pointer;
  -webkit-transition: opacity .2s ease-out;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.search-context-results {
  list-style: none;
  background-color: rgba(255,255,255,.5);
  padding:1em !important;
  margin-left: 10% !important;
}

.search-context-block > .search-context-block {
  margin-left:15px;
  line-height:2em;
}

.count-string {
  opacity:.5;
}

[data-count="0"] {
  display:none !important;
}

.search-result {
  line-height:1.5em;
  padding-top:.6em;
}
.search-result:first-child {
  padding-top:0;
}

.search-context-results.minify > .search-result {
  display:none;
}

.search-context-results.minify > :first-child, 
.search-context-results.minify > :nth-child(2), 
.search-context-results.minify > :nth-child(3) {
  display:block;
}

.search-context-block.closed > .search-context-block {
  display:none;
}

.search-context-block.open > .search-context-block {
  display:block;
}

.open-closed-indicator {
  -webkit-transition: -webkit-transform .2s ease-out;
}

.search-context-block.open > .search-context-title {
  opacity:.6;
}

.search-context-block.open > .search-context-title > .open-closed-indicator {
  -webkit-transform: rotate(90deg);
}

.search-context-block.open > .search-context-results {
  display:none;
}

